div#quadrado{
    width: 200px;
    height: 200px;
    background-color: yellow;
}

div#btns{
    width: 200px;
    display: flex;
    justify-content: space-around;
}

button{
    margin-top: 10px;
    margin-left : 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: grey;
}